<main class="full-width-embed">
    <div style="height:50vh"></div>
     <section id="intro">
      <h2>Born of fire and ice</h2>
      <p>Washington as we know it was formed by a violent past, including lava floods and ice age floods. The Columbia River was an energetic, mile-wide, 500-feet-deep fury of white water rapids that carried boulders and cobbles all the way from northeastern Washington to the Pacific Ocean.</p>
      
     </section>

     <section id="scrolly">
       <div class="sticky-thing">
         
         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-01.jpg">
         
         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-02.jpg">
         
         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-03.jpg">
         
         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-04.jpg">

         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-05.jpg">

         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-06.jpg">

         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-07.jpg">

         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-08.jpg">

         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-09.jpg">

         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-10.jpg">

         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-11.jpg">

         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-12.jpg">

         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-13.jpg">

         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-14.jpg">

         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-15.jpg">

         <img decoding="async" class="asset" src="./assets/CR-geology-storyboard-16.jpg">
         
       </div>
       <article id="scroller">
         <div class="step" data-step="1"> 
          <p><strong>A billion years ago </strong>(billion with a B!) Seattle as we know it would have been in deep, deep ocean. That’s because the west edge of the North American continent was actually located near modern-day Spokane and Pullman.</p>
         </div>

         <div class="step" data-step="2">
          <p>Geologists know this because northeastern Washington has entire mountains made of quartzite. Quartzite is a metamorphic rock made from the original beaches of Washington—beautiful, sparkling grains of sand were buried, squeezed, and compressed into quartz rocks.</p>
         </div>

         <div class="step" data-step="3">
          <p>Volcanic activity built most of the Pacific Northwest over the last 200 million years. The Pacific Plate, moving eastward inch by inch, was forced to go under the westward-moving North American Plate.</p>
         </div>
         
         <div class="step" data-step="4">
          <p>From 17 to 6 million years ago, lava seeped from long fissures in the earth’s crust, flooding the Columbia Basin like thin layers of a chocolate cake. The basalt layers were so heavy that they actually caused the earth’s crust to sink.</p>
         </div>

         <div class="step" data-step="5">
          <p>From 10 million to 1 million years ago, a powerful, wild Columbia River—in some places a mile wide and 500 feet deep—transported snowmelt from the Columbia and Rocky Mountains to the Pacific Ocean. Lava flows repeatedly pushed the river from its path, but the river always found a way around, carving channels and dropping waterfalls over basalt layers.</p>
         </div>

         <div class="step" data-step="6">
            <p>As recent as 18,000 to 12,000 years ago (when mammoths were living here), Washington experienced a series of cataclysmic Ice Age Floods. Glacial Lake Missoula—half the size of Lake Michigan—would periodically break through its ice dam and send a torrent of floodwaters across Washington. Within the span of a week, 80-mile-per-hour floodwaters scoured the landscape, transforming everything in their path.</p>
         </div>

         <div class="step" data-step="7">
          <p>Floodwaters backed up behind narrow basalt channels including what today we call Wallula Gap. Water squeezing through the gap rose as much as 1,250 feet above sea level, creating temporary Lake Lewis. Lake Lewis filled the Pasco Basin and is estimated to have covered 4,500 square miles and reached a depth of 900 feet. The entire Tri-City Area was underwater in what would have resembled a frothy chocolate milkshake, complete with floating icebergs.
          </p>
         </div>

         <div class="step" data-step="8">
          <p><strong>Fast-forward to the present... </strong><br><br>A roadside cut near Granger, WA— 15 miles away from the current path of the Columbia River—reveals layers of river cobbles and fine silt. Geologists recognize the quartzite cobbles like a trail of breadcrumbs, jellybeans, or... potatoes.</p>
         </div>

         <div class="step" data-step="9">
          <p>Quartzite cobbles are identified by their white and blond color, and sparkling interior. Quartzite is rare in Washington, and can only come from one place—the northeast corner of the state. The trail of cobbles moved by the ancient Columbia, still there for us to see 10 million years later, reveals the path of the ancestral Columbia River.</p>
         </div>

         <div class="step" data-step="10">
          <p>In the same roadside cut, geologists also see evidence of the Ice Age Floods. The fine layers of silt and sand, called rhythmites, are interspaced with the river cobble. These were deposited from the relatively still, icy cold water that once filled the basin. Lighter bands on top of the rhythmites are wind-blown deposits, indicating dry periods following the floods.</p>
         </div>

         <div class="step" data-step="11">
          <p>Across from the Hanford Nuclear Site, in the original territory of the Wanapum people, the White Bluffs tower 300 feet above the Columbia River. In one section, geologists can see a dozen flood rhythmites, each indicating slackwater deposits from temporary Lake Lewis. Lighter bands are windblown deposits. 
            <br><br>These rhythmites, only thousands of years old, fill a paleochannel within the 8- to 3-million-year-old Ringold Formation. Deposited by slow-moving tributaries of the ancestral Columbia and Snake Rivers, the Ringold layers are rich in fossils such as prehistoric horses and camels.</p>
         </div>

         <div class="step" data-step="12">
          <p>On the surface of the White Bluffs—and all around the Columbia Basin—are evidence of ice-rafted erratics—exotic boulders and piles of gravel left behind by icebergs during the glacial-outburst floods.  Ripples carved into the rock by the current can be seen from the air, such as on West Bar.</p>
         </div>

         <div class="step" data-step="13">
          <p>Basalt layers under the White Bluffs (part of the Columbia River Basalt Group) are more than 13,000 feet thick. When the lava flows cooled and cracked, hexagonal columns formed. Called columnar basalts, these unique geological features are visible today, particularly where they have been exposed by erosion along the banks of the Columbia River.
          </p>
         </div>

         <div class="step" data-step="14">
          <p>Columnar basalts, although made of rock, were no match for the fury and power of the Ice Age Floods, or the undammed Columbia River, which would pluck the columns from their moorings. Sometimes a few columns were left standing, creating pinnacles we see today—such as the Twin Sisters overlooking the Wallula Gap.</p>
         </div>

         <div class="step" data-step="15">
          <p>Lava floods, Ice Age floods, and the ancestral Columbia River carved the steep canyons and coulees we see in eastern Washington today. Within the last 95 years, humans utilized these natural formations to build dams and harness the power of the river to produce electricity and to irrigate agriculture. 
            <br><br>One consequence of building Grand Coulee Dam was the blocking of salmon and steelhead migrations from more than 1,200 miles of spawning tributaries, harming Upper Columbia tribal communities that depend on these fish as well as ecosystems deprived of the nutrients from salmon, from forests to streambeds. The southern resident orcas, especially the K and L pods, also lost an important source of gigantic salmon that once passed to the Upper Columbia. The so-called June Hogs are no more.</p>
         </div>

         <div class="step" data-step="16">          
            <p>The next time you enjoy a glass of mid-Columbia wine, make a toast to the Ice Age Floods. Some 90% of Washington’s vineyards are located in areas affected by the cataclysmic floods. Soils containing slackwater flood deposits are nutrient poor and calcic, and the abundant silt and sand provide a balance between moisture retention and drainage. Add the eastern Washington sunshine, and you have ideal conditions for growing grapes.</p>
         </div>

       </article>

       
     </section>


     
   </main>


   <style>
    
    #scrolly {
         position: relative;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         flex-direction: column;
         
         padding: 1rem;
       }
  
       #scrolly > * {
         -webkit-box-flex: 0;
         -ms-flex: 0;
         flex: 0;
       }
  
       main {
         position: relative;
         padding: 0 1rem;
         margin-top:40px;
         max-width: 100%;
       }
  
       .sticky-thing {
         position: -webkit-sticky;
         position: sticky;
         height: 80vh;
         width: 50%;
         /* margin: 0 0 50% 40%; */
         z-index:-1;
         top: 5%;
         
         /* Center everything inside */
         display: flex;
         align-items: center;
         justify-content: center;
         -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
  }
  
  @media (max-width:768px) {
    .sticky-thing {        
        width:100%;
        margin:0 0 50% 0;
    }
        }
  
       .sticky-thing p {
         padding: 1rem;
         font-size: 8rem;
         font-weight: 900;
         color: #fff;
  
       }
  
       .step {
         position: relative;
         margin-left:50%;
         background-color: white;
         color: black;
         width:40%;
       }
  
       @media (max-width:768px) {
    .step {        
        width:80%;
        margin:0 auto;
    }
        }
  
       .step:first-child {
         margin-top: 30rem;
       }
  
       .step.is-active {
         background-color: white;
         color: #000000;
       }
  
       .step p {
         text-align: left;
         padding: 1rem;
         font-size: 19px;
         margin-bottom:800px;
         
       }
  
       .step:last-child {
         margin-bottom: 0px;
         background-color: transparent;
       }
  
       span.highlight {
         background-color: #f2a9d4;
         padding: 1px 4px 1px 4px;
         box-decoration-break: clone;
         -webkit-box-decoration-break: clone;
         font-weight: bold;
       }
    
       .asset {
         position:absolute;
         top:0;
         left:0;
         width:100%;
         padding:3rem;
         opacity:0;
         animation: fadeOut 0.5s ease-in;
         
       }
  
       .entered {
         opacity:1;
         animation: fadeIn 0.5s ease-in;
       }
       @keyframes fadeIn {
         from {
           opacity:0;
         }
         to {
           opacity:1;
         }
       }
  
       @keyframes fadeOut {
         from {
           opacity:1;
         }
         to {
           opacity:0;
         }
       }
  
       #intro {
         background-color:white;
         width:50%;
         margin:0 auto;
         text-align:center;
  
         }
  
         @media (max-width: 768px) {
          #intro {
          width:80%;
          }
        
       }
  
       #outro {
         background-color:white;
         height:50vh;
         
       }
     </style>
   

   <script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>
   <script src="https://projects.seattletimes.com/assets/graphic-scroll.js"></script>
   <script>
     
     var main = document.querySelector("main");
     var scrolly = main.querySelector("#scrolly");
     var sticky = scrolly.querySelector(".sticky-thing");
     var article = scrolly.querySelector("#scroller");
     var steps = article.querySelectorAll(".step");
     var photos = sticky.querySelectorAll("img");
     console.log(photos);
     

     // initialize the scrollama
     var scroller = scrollama();

     // scrollama event handlers
     function handleStepEnter(response) {
       // response = { element, direction, index }
       var el = response.element;
       //console.log(el);

       // remove is-active from all steps
       // then add is-active to this step
       steps.forEach(step => step.classList.remove('is-active'));
       el.classList.add('is-active');

       photos.forEach(photo => photo.classList.remove('entered'));
       photos[response.index].classList.add('entered');

       // update graphic based on step
       //sticky.style.backgroundImage = `url(" ${el.dataset.image} ")`;

     }

     function init() {
       scroller
         .setup({
           step: "#scrolly #scroller .step",
           offset: 0.83,
           debug: false
         })
         .onStepEnter(handleStepEnter);

       // setup resize event
       window.addEventListener("resize", scroller.resize);
     }

     // kick things off
     init();
   </script>
